body {
  background-color: #f1efed;
}

.container {
  display: flex;
  height: 100%;
}

.buttons {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons button {
  margin: 5px;
}

/*Horizontal Navigation Bar*/
/*Removing the list style of the list eg[Bullets] and adding some design*/
.horizontal-menu ul {
  /*display: inline-block;*/
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  background-color: #403c38;
}

.horizontal-menu li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: solid;
  padding: 14px 16px;
}
/* Navigation Link Design if active */
.horizontal-menu .active {
  background-color: #1cbb09;
  color: white;
}
/* Displaying the list items horizontally and adding border to the right serve as the divider of each items */
.horizontal-menu li {
  float: left;
  border-right: 1px solid #bbb;
}
/*Removing the right border of the list last item*/
.horizontal-menu li:last-child {
  border-right: none;
}
/* Changing the background color of the link when hovered. */
.horizontal-menu li a:hover {
  background-color: #111;
}

.horizontal-menu {
  background-color: #403c38;
}
